.form {
    padding: 150px 200px;
    display: flex;
    margin-top:10px;
  }
  
  .form__field {
     flex: 1;
  }

  a,
a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

a {
  font-size: 40px;
}
  
  
  