.media { 
    display: flex;  
 }
 .media-body { 
        flex: 1;  
 }
 .media {  
    align-items: flex-start;   
  }

  .media-heading {
      background: yellow;
  }

  p {
      background: tomato;
  }
  body {
    margin: 100px 400px;
  }
    