/*Визуал*/
.row {
   padding: 10px;
   background: lavender;
   margin: 15px 0;
 }
 .row_cell,
 .row_cell--2,
 .row_cell--3 {
   background: thistle;
   padding: 10px;
   margin: 5px;
 }
 
 body {
   color: black;
   font-size: 15px;
 }

 /*Структура*/

.row {
   display: flex;
   flex-wrap: wrap;
}


.row_cell {
   flex: 1
}
.row_cell--2 {
   flex: 2
}
.row_cell--3 {
   flex: 3
}


.row_cell--top {
  align-self: flex-start
}
.row_cell--bottom {
  align-self: flex-end
}
.row_cell--center {
  align-self: center
}


.row--top {
   align-items: flex-start
}
.row--bottom {
   align-items: flex-end
}
.row--center {
   align-items: center
}

a,
a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

a {
  font-size: 40px;
}