.media {
    width: 30vw;
   display: flex;
   align-items: flex-start;
}

.media-body {
    padding: 15px;
   flex: 1;
}

a,
a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

a {
  font-size: 40px;
}

